

.desktop-menu{
  display: flex;
  gap: 10px;
}

.mobile-menu{
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile Screen */
@media (max-width: 768px){

  .desktop-menu{
    display: none;
  }

  .mobile-menu{
    display: block;
  }

}
.carousel-img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.carousel-img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
.project-img{
  width:100%;
  height:220px;
  object-fit:cover;
}

@media (max-width:768px){
  .project-img{
    height:180px;
  }
}

@media (max-width:480px){
  .project-img{
    height:160px;
  }
}
